.shop-container
{
    position: relative;
    width: 100%;
    background-color:  rgb(172, 189, 183);
}

.products-container
{
    margin-left: 30rem;
    padding-top: 1rem;
    min-height: 61rem;
    background-color: rgb(37, 83, 74);
}

.products-card-grid
{
    width: 100%;
    display: grid;
    padding: 2rem 12rem 12rem 12rem;
    flex-grow: 1;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, 24rem);
    justify-items: center;
    justify-content: space-evenly;
}
.plant-card {
  background: #052712; /* light green */
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.plant-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.plant-image-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.plant-details {
  padding: 12px;
  text-align: center;
}

.plant-details h3 {
  font-size: 1.1rem;
  margin: 6px 0;
}

.plant-details p {
  color: #000000;
  font-weight: bold;
}
