@import url('https://enztron-temp-deployed-branch.netlify.app/components.css');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

:root
{
    --dark-grey     : #2F4858;
    --dark-grey-2   : #282c34;
    --royal-blue    : #05c3a9;
    --sky-blue      : #063537;
    --bluish-white  : #234b32;
    --pure-white    : rgb(21, 95, 84);
    --red-color     : #232824;
    --background-color-dull-yellow: rgb(21, 95, 84);
    --yellow-background-color     : rgb(21, 95, 84);
    --dull-grey     : #cabfbf;
}

html
{
    font-family: 'Comfortaa', cursive;
}

body
{
    font-family: 'Comfortaa', cursive;
}

html, body
{
    height: auto;
    background-color: rgb(14, 82, 57);
}

.App {
    min-height: 100%;
    text-align: center;
    background-color:  rgb(14, 82, 57);
    font-family: 'Comfortaa', cursive;
}

*::-webkit-scrollbar 
{
    height: 1em;
}
  
*::-webkit-scrollbar-track 
{
    background: var(--light-grey);
}
  
*::-webkit-scrollbar-thumb 
{
    background: var(--sky-blue);
}

a::after
{
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    background: var(--dark-blue-color);
}

a:hover::after
{
    width: 0;
}